html(lang='en')
  head
    meta(charset='UTF-8')
    title WebPack Test
    link(href='style.css' rel='stylesheet')
  body
    h1 WebPack Server+JSON Server
    button.btn-get-json(type='submit' style='font-size: 25px;') Get Id's
    .json-info
    script(src='index.js')